
	.inline-block {
		display: inline-block;
		zoom: 1;
		*display: inline;
         }
	.pull-left {
	float: left;
	}
	.pull-right{
	float: right;
	}
	
	  dt {
	  color: blue;
	  }
	
	 form {
         background-color: white;
         border: 2px orange solid;
         }
	 
	 legend {
	 background-color: orange;
	 text-align: center;
	
	 }
	 
	 thumbnails img{
		position: relative;
		display: inline-block;
	
	 }
	 thumbnail {
	 display: block;
	width: 300px;
	height: 200px;
	text-align: left;
	overflow: auto;
	
	 }
	 .img-responsive  {
	 max-width: 100%;
	 height: auto;
	 }
	 footer {
	 
		clear: both left;
		border: none;
		margin: 0px auto 0px auto;
		text-align: center;
		margin:0 auto;
	 }
